<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::Layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title th:text="${name}">Document</title>
</head>
<body>

	<section
		class="banner d-flex justify-content-center align-items-center">
		<div class="text-center">
			<h1 class="font-weight-bold">Smart Contact Manager</h1>
			<p>Start collecting your contacts smarter way!</p>
			<button class="btn bg-primary btn-lg text-white">Get Start</button>
		</div>
	</section>
</body>
</html>