<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::Layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title th:text="${name}">Document</title>
</head>
<body>

	<section>
		<div class="container">
			<div class="row">


				<div class="col-md-8 offset-md-2">

					<div class="text-center container mt-3">
						<img alt="logo" th:src="@{/img/add-friend.png}"
							style="width: 80px;" class="mx-auto">
					</div>

					<div class="mycard">
						<div th:if="${session.message}"
							th:classappend="${session.message.type}" class="alert"
							role="alert">
							<p class="text-center" th:text="${session.message.content}"></p>

							<th:block th:text="${#session.removeAttribute('message')}"></th:block>
						</div>
						<h1 class="text-center">Register Here</h1>

						<form th:action="@{/do_register}" method="post"
							th:object="${user}">

							<div class="form-group">
								<!-- NAME -->
								<label for="name_field" class="form-label">Your Name</label> <input
									type="text" class="form-control" id="name_field" name="name"
									aria-describedby="emailHelp" placeholder="Enter Here"
									required="required" th:value="${user.name}">
							</div>

							<div class="form-group">
								<!-- email -->
								<label for="email_field" class="form-label">Your Email</label> <input
									type="email" class="form-control" id="email_field" name="email"
									aria-describedby="emailHelp" placeholder="Enter Here"
									required="required" th:value="${user.email}">
							</div>

							<div class="form-group">
								<!-- password -->
								<label for="password_field" class="form-label">Your
									Password</label> <input type="password" class="form-control"
									id="password_field" aria-describedby="emailHelp"
									name="password" placeholder="Enter Here" required="required">
							</div>

							<div class="form-group">
								<label class="form-label">About</label>
								<textarea placeholder="Enter something yourself" rows="10"
									class="form-control" name="about"></textarea>
							</div>
							<div class="form-group form-check">
								<input type="checkbox" name="agreement"
									class="form-check-input " id="agreement"> <label
									for="agreement">Accept terms and conditions</label>

							</div>
							<br>
							<div class="container text-center">
								<button type="submit" class="btn bg-primary text-white">Submit</button>
								<button type="reset" class="btn bg-warning text-white">Reset</button>
							</div>

						</form>

					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>